.topbar {
    background: var(--dark);
    /* background: #232f3e; */
    color: var(--inverse);
}

.topbar a {
    color: var(--inverse);
    font-size: 1.25rem;
}

a {
    text-decoration: none;
    color: var(--inverse);
}

a:hover {
    text-decoration: none;
    color: var(--inverse);
}

.custom-toggler.navbar-toggler {
    border-color: var(--inverse);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='var(--inverse)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='var(--inverse)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.secondNavItem {
    border: 0 1px solid black;
}

.linkTag {
    color: #232f3e;
    text-decoration: none;
}

.linkTag:hover {
    color: #ff9900;
    text-decoration: none;
}

.logo {
    background: var(--inverse);
    color: black;
    height: 50px;
    width: 70px;
    border-radius: 8px;
    padding: 0px 8px;
    padding-bottom: 8px;
    font-weight: bold;
    margin-right: 5px;
}

.customShadow {
    -webkit-box-shadow: 0 5px 6px -6px black;
    -moz-box-shadow: 0 5px 6px -6px black;
    box-shadow: 0 5px 6px -6px black;
}

.customShadow img {
    height: 260px;
}

.CategoryCard {
    border: none;
    border-radius: 75%;
    margin-left: 10px;
}

.CategoryCard img {
    height: 100px;
    width: 100px;
}

.footer {
    width: 100%;
    background: var(--inverse) smoke;
    padding: 10px;
    color: DimGrey;
}

.customCardSize {
    max-width: 24rem;
    margin-left: 0px;
    margin: 0 auto;
}

.customBtn {
    background: #ff9900 !important;
    color: #000000 !important;
    border: none !important;
}

.customBtn:hover {
    background: #232f3e !important;
    color: #ff9900 !important;
    border: none !important;
}

.cutomBtn:after {
    background: #ff9900 !important;
    color: #000000 !important;
    border: none !important;
}

.cutomBtn:active:after {
    background: #ff9900 !important;
    color: #000000 !important;
    border: none !important;
}

.cutomBtn:active {
    background: #ff9900 !important;
    color: #000000 !important;
    border: none !important;
}

.customBtn1 {
    background: #232f3e !important;
    color: #ff9900 !important;
    border: none !important;
}

.customBtn1:hover {
    background: #ff9900 !important;
    color: #232f3e !important;
    border: none !important;
}

.cutomBtn1:after {
    background: #232f3e !important;
    color: #ff9900 !important;
    border: none !important;
}

.cutomBtn1:active:after {
    background: #232f3e !important;
    color: #ff9900 !important;
    border: none !important;
}

.cutomBtn1:active {
    background: #232f3e !important;
    color: #ff9900 !important;
    border: none !important;
}

.customColor {
    background: #232f3e;
    color: white;
}
