:root {
    --dark: #292b2c;
    --inverse: #f7f7f7;
}

body {
    margin: 0;
    font-family: "Amazon Ember";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    padding: 0;
    box-sizing: border-box;
}

code {
    font-family: "Amazon Ember";
}
